﻿body {
}
body 
{
     background-color: #fff;
    border-top: solid 10px #000;
    color: #333;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}
/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}


/* tables
----------------------------------------------------------*/
table {
    border-collapse: collapse;
    border-spacing: 1;
    margin-top: 0.75em;
    border: 2 none;
}

th {
    font-size: 1.2em;
    text-align: left;
    border: 1 0px;
    padding-left: 0;
}

    th a {
        display: block;
        position: relative;
    }   

td {
    padding: 0.25em 2em 0.25em 0em;
    border: 1 none;
}

tr {
    font-size: 1.2em;
    text-align: left;
    border: 1 0px;
    padding-left: 0;
    color: #e80c4d;
}

tr.pager td {
    padding: 0 0.25em 0 0;
}