﻿<!DOCTYPE html>
<html lang="en">
    <head>
           
        
        <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")" />

    </head>
    <body>
        
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        
    </body>
</html>
