﻿@{
    ViewBag.Title = "DisplayData";
}

<h2>DisplayData</h2>

@ViewBag.Message;

@{
    foreach (var sampledata in ViewBag.list)
    {
        if (sampledata == "fizz" || sampledata == "wizz")
        {
            <div><span><font color="blue">@sampledata</font></span></div> 
        }
        else if (sampledata == "buzz" || sampledata == "wuzz")
        {
            <div><span><font color="green">@sampledata</font></span></div> 
        }
        else if (sampledata != "fizz" && sampledata != "buzz")
        { 
            <div><span>@sampledata</span></div> 
        }

    }   
}
