﻿@model SampleMVCDemo.Models.SampleModel

@{
    ViewBag.Title = "Fizzbuzz";
}

<h2>@ViewBag.Message</h2>

@using (Html.BeginForm())
{    
    @Html.ValidationSummary()
    <fieldset>        
        <ol>
            <li>
                @Html.LabelFor(x => x.number)
                @Html.TextBoxFor(x => x.number)
                @Html.ValidationMessageFor(x => x.number)
            </li>
           
        </ol>
        <input type="submit" value="submit" />
    </fieldset>
}
